<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Active Events
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="parentIndex.html">Event List</a>
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h2>Active Events</h2>
        <div ng-repeat="event in eventlist">
            <h2 ng-hide="eventlist.length">No Events</h2>
            <div class="col-lg-12 panel panel-success"><br/>
                <div> <b>Event name  :  </b> {{event.eventName}} </div>
                <div> <b> Event Date  :  </b> {{event.date}}</div>
                <div> <b> Event Time  :  </b> {{event.time}}</div>
                <div> <b> School Name  :  </b> {{event.schoolUsername}}</div><br/>
                <div> <b> Have you reached the destination ?  </b></div><br/>
                <div> <button id="yesbutton" class="btn btn-success" ng-click="reached(event._id)"> Yes </button> </div><br/>
            </div>
        </div>
    </div>
</div>