<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Add Event
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="#/">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-cubes"></i> Add Event
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form role="form" onload="initialize()">
            <div class="form-group">
                <label>Event Name</label>
                <input class="form-control" placeholder="Enter Event Name" ng-model="schoolevent.eventName">
            </div>
            <div class="form-group">
                <label> School List</label>
                <select multiple class="form-control" ng-model="schoolevent.schoolName" ng-options="school for school in schoollist">
                                </select>
            </div>
            <div class="form-group">
                <label>Number of Team</label>
                <input class="form-control" placeholder="Enter  Number Of Team" ng-model="schoolevent.team">
            </div>
            <div class="form-group">
                <label>Number of Members in One Team</label>
                <input class="form-control" placeholder="Enter Number Of members" ng-model="schoolevent.member">
            </div>
            <div class="form-group">
                <label>Event Date</label>
                <input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="schoolevent.date">
            </div>
            <div class="form-group">
                <label>Event Time</label>
                <input type="text" class="form-control" placeholder="HH:mm" ng-model="schoolevent.time">
            </div>
            <div class="form-group">
                <label>Event Instruction</label>
                <textarea rows="5" type="text" class="form-control" ng-model="schoolevent.instruction"></textarea>
            </div>
            <button type="submit" class="btn btn-info" ng-click="addEvent()">Submit </button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-warning">Reset </button>
        </form>
    </div>
</div>