<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Students
            <small>Add Details</small>
        </h1>
    </div>
</div>
<div class="col-lg-6">
    <form role="form">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" ng-model="student.name">
        </div>
        <div class="form-group">
            <label>Student ID</label>
            <input class="form-control" ng-model="student.sid">
        </div>
        <div class="form-group">
            <label>Parent/Guardian Name</label>
            <input class="form-control" ng-model="student.parentname">
        </div>
        <div class="form-group">
            <label>Parent/Guardian Email Id</label>
            <input class="form-control" placeholder="abc@xyz.com" ng-model="student.parentemailid">
        </div>
        <div class="form-group">
            <label>Parent/Guardian Contact No</label>
            <input class="form-control" placeholder="(xxx) xxx xxxx" ng-model="student.parentno">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="addStudent()">Add</button>
        </div>
    </form>
</div>