<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Students
            <small></small>
        </h1>
    </div>
</div>
<h1>Enter Participant Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>Student name</th>
            <th>Student id</th>
            <th>Parent name</th>
            <th>parent e-mail</th>
            <th>Action</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="user.sname"></td>
            <td><input class="form-control" ng-model="user.sid"></td>
            <td><input class="form-control" ng-model="user.pname"></td>
            <td><input class="form-control" ng-model="user.pemail"></td>
            <td><button class="btn btn-primary" ng-click="addStudent()">Add Student</button></td>
           <!--  <td><button class="btn btn-info btn-sm" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info btn-sm" ng-click="deselect()">Clear</button></td> -->
           <td> <button type="button" class="btn btn-info btn-sm" ng-click="update()>
          <span class="glyphicons glyphicon-pencil"></span>
        </button>&nbsp;&nbsp; <button type="button" class="btn btn-info btn-sm" ng-click="deselect()>
          <span class="glyphicons glyphicon-remove"></span></button>
          </td>
        </tr>
        <tr ng-repeat="contact in contactlist">
            <td>{{user.sname}}</td>
            <td>{{user.sid}}</td>
            <td>{{user.pname}}</td>
            <td>{{user.pemail}}</td>
            <td><button type="button" class="btn btn-info btn-sm" ng-click="update()>
          <span class="glyphicons glyphicon-pencil"></span>
        </button></td>
            <td><button type="button" class="btn btn-info btn-sm" ng-click="deselect()>
          <span class="glyphicons glyphicon-remove"></span></button></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />